<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::htmlHead">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>수강신청</title>
</head>
<body class="container">
<header th:insert="~{layout::nav}"></header>
<section class="row">


<h2>수강신청</h2>

<!-- 학생 선택 폼 -->
<form  th:action="@{/enroll}" method="post">
  <label for="studentId">학생 선택:</label>
  <select class="form-select" id="studentId" name="studentId" required>
    <option th:each="student : ${students}" th:value="${student.id}" th:text="${student.studentName}"></option>
  </select>
  <button type="submit">학생 선택 완료</button>
</form>
</section>
<section class="row">
<!-- 과목 선택 폼 -->
  <form th:if="${selectedStudent != null}" th:action="@{/enroll}" method="post">
    <input type="hidden" name="studentId" th:value="${selectedStudent.id}" />
    <label for="subjectId">과목 선택:</label>
    <select class="form-select" id="subjectId" name="subjectId" required >
      <option selected>과목을 선택해주세요</option>
      <option th:each="subject : ${subjects}" th:value="${subject.id}" th:text="${subject.subjectName}"></option>
    </select>
    <button type="submit">수강신청</button>
  </form>
</section>
</body>
</html>
