<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::htmlHead">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>성적 조회</title>
</head>
<body class="container">
  <header th:insert="~{layout::nav}"></header>
  <section class="row">
  <h2>성적 조회</h2>
  <!-- 과목 선택 폼 -->
  <form th:action="@{/grade/select}" method="post">
    <label for="subjectId">과목 선택:</label>
    <select id="subjectId" name="subjectId" required onchange="">
      <option th:each="subject : ${subjects}" th:value="${subject.id}" th:text="${subject.subjectName}"></option>
    </select>
    <button type="submit"> 과목 선택 완료</button>
  </form>
  </section>
</body>
</html>
