<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::htmlHead">
</head>
<body class="container">


    <header th:replace="layout :: nav"></header>

    <main>
    <!--    &lt;!&ndash; 페이지 내용이 들어갈 자리 &ndash;&gt;-->
    <!--    <div th:replace="~{content}"></div>-->
    </main>

    <footer>
        <!-- 페이지 하단 내용 -->
    </footer>

<!-- 부트스트랩 스크립트 추가 -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIJd6fcQq2JxSYeVO8e1t9oT+cCVA6jU6IcI+TV"
        crossorigin="anonymous"></script>
</body>
</html>